@media screen and (min-width: 900px) and (max-width: 1400px) {
    header .busca {
        margin: 0px 10px;

        input {
            width: 350px;
        }
    }

    header .contato {
        margin: 0px 20px;

        p {
            font-size: 0.7em;
        }

        a {
            font-size: 0.8em;
        }
    }

    header .login {
        margin: 0px 15px;

        p {
            font-size: 0.7em;
        }

        a {
            font-size: 0.8em;
        }
    }

    .menu {

        /* background-color: black; */
        a {
            font-size: 0.8em;
        }
    }

    main section {
        border: 1px solid rgba(0, 0, 0, 0.26);
        width: 250px;
        height: 530px;
        display: flex;
        flex-flow: column nowrap;
        /* justify-content: center; */
        margin: 5px;
        border-radius: 10px;
        align-content: flex-end;
    }

    main section:nth-child(4) {
        display: none;
    }

    .propaganda {
        display: flex;
        width: 100vw;
        justify-content: center;

        img {
            width: 300px;
            margin: 5px;
        }
    }

    @media screen and (min-width: 900px) and (max-width: 1200px) {
        header {
            padding: 10px 10px;
        }

        header .busca {
            margin: 0px 50px;

            input {
                width: 300px;
            }

            label {
                padding: 4px 10px;
                font-size: 0.9em;
            }
        }

        header .contato {
            margin: 0px 0px;

            p {
                font-size: 0.7em;
            }

            a {
                font-size: 0.8em;
            }
        }

        header .login {
            margin: 0px 15px;

            p {
                font-size: 0.7em;
            }

            a {
                font-size: 0.8em;
            }
        }

        .menu {

            /* background-color: black; */
            a {
                font-size: 0.8em;
            }
        }

    }

    @media screen and (min-width: 600px) and (max-width: 1100px) {
        main section {
            border: 1px solid rgba(0, 0, 0, 0.26);
            width: 250px;
            height: 530px;
            display: flex;
            flex-flow: column nowrap;
            /* justify-content: center; */
            margin: 5px;
            border-radius: 10px;
            align-content: flex-end;
        }

        .formpay {
            p {
                font-size: 1em;
            }

            div {
                span{
                    font-size: 0.6em;
                    margin-top: 40px;
                }
            }

        }

        main section:nth-child(3) {
            display: none;
        }

        .propaganda {
            display: flex;
            width: 100vw;
            justify-content: center;

            img {
                width: 250px;
                margin: 5px;
            }
        }

        @media screen and (min-width: 600px) and (max-width: 900px) {
            header {
                padding: 10px 10px;
            }

            header .busca {
                display: none;
                margin: 0px 50px;

                input {
                    width: 300px;
                }

                label {
                    padding: 4px 10px;
                    font-size: 0.9em;
                }
            }

            header .contato {
                margin: 0px 0px;

                p {
                    font-size: 0.7em;
                }

                a {
                    font-size: 0.8em;
                }
            }

            header .login {
                margin: 0px 15px;

                p {
                    font-size: 0.7em;
                }

                a {
                    font-size: 0.8em;
                }
            }

            .menu {
                flex-flow: row wrap;

                #menuicon {
                    display: none;
                }

                /* background-color: black; */
                a {
                    font-size: 0.7em;
                    margin: 5px;
                }
            }

        }
    }
}